PORT=5000
JWT_SECRET=supersecretjwttokenkey123!
# SUPABASE_URL=https://your-project-id.supabase.co
# SUPABASE_KEY=your-supabase-service-role-or-anon-key


SUPABASE_URL=https://zvokizlnpjspsglezxjo.supabase.co
SUPABASE_KEY=sb_publishable_BnAJczHuf_9utRb-i6VtQg_plgibyjg